/* modele 1 */

.grid-container{
    height: 100%;
    width: 100%;
    /* position: fixed; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-family: 'Dosis', sans-serif;
}

.img{
    grid-row: 2/ span 1;
    grid-column: 1/span 1;
    background-image: url('../img/img_1.jpg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.img2{
    background-image: url('../img/img_0.jpg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.txt{
    grid-row: 1/ span 1;
    grid-column: 1/span 1;
}

.txt2{
}


/* modèle 2 */

.grid-container-1{
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url('../img/0.jpg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-family: 'Dosis', sans-serif;
}
.grid-container-2{
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url('../img/bck3.jpg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-family: 'Dosis', sans-serif;
}

.container{
    overflow: scroll;
    height: 100%;
}

.txt3{
    padding: 10px;
}
.bck-img4{
background-image: url('../img/bck4.jpg');
background-repeat: no-repeat !important;
background-position: center !important;
background-size: cover !important;
}

.exp1-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.img-exp1{
    width: 30%;
    height: 30%;
}

.img3{
    height: 278px;
    background-image: url('../img/img_2.gif');
    background-repeat: no-repeat !important;
    background-position: center !important;
    /* background-size: cover !important; */
}
.img4{
    height: 100%;
    background-image: url('../img/4.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
.img5{
    height: 418px;
    background-image: url('../img/5.png');
    background-repeat: no-repeat !important;
    background-position: center !important;
    /* background-size: cover !important; */
}
.img6{
    height: 100%;
    background-image: url('../img/6.JPG');
    background-repeat: no-repeat !important;
    background-position: center !important;
    /* background-size: cover !important; */
}
.img7{
    height: 100%;
    background-image: url('../img/7.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    /* background-size: cover !important; */
}
.img8{
    height: 100%;
    background-image: url('../img/8.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.img9{
    height: 100%;
    background-image: url('../img/9.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.img10{
    height: 100%;
    background-image: url('../img/9.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.img11{
    height: 100%;
    background-image: url('../img/9.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.img12{
    height: 100%;
    background-image: url('../img/12.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
.img13{
    height: 100%;
    background-image: url('../img/13.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
