@import "css/header.css";
@import "css/container.css";


body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #E6E6E6;
}

h1{
    font-size: 17px;
    font-family: 'Dosis', sans-serif;
}

p{
    font-size: 15px;
    padding: 5%;
    text-indent: 25px;
    font-family: 'Dosis', sans-serif;
}

.bck-gris{
    background-color: rgba(230, 230, 230, 0.7);
    transition: .5s;
}
.bck-gris:hover{
    background-color: rgba(230, 230, 230, 1);
}
